// colors
$warn-color: #DD130C; //red
$main-color: #000; //black
$second-color: #704848; //brown
$third-color: #F1E3E2; //creamy
$fourth-color: #dfe6e9; //bright gray
$fiveth-color: #2b638e; //blue
$sixth-color: #fff; //white
$seventh-color: #2d3436; //dark gray
