@import url('https://fonts.googleapis.com/css?family=Lato:400,700,900');
@import "variables";

body{
	box-sizing: border-box;
	text-align: center;
	font-size: 18px;
	background-image: url('../images/background.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	font-family: 'Lato', sans-serif;
	background-color: $third-color;
	background-position: center top;
}

main {
	background-color: rgba(0, 0, 0, 0.2);
	padding: 50px;
	}

h2 {
	font-size: 24px;
	text-transform: uppercase;
	margin-top: 20px;
	color: $main-color;
}

.container {
	margin-top: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.buttons {
	text-align: center;
	margin-top: 50px;
}

button.player-move {
	background-color: $sixth-color;
	color: $second-color;
	border: 2px solid $second-color;
	border-radius: 50%;
	width: 65px;
	height: 65px;
}

.playerTextField {
	color: $main-color;
}

.resultOutput {
	color: $warn-color;
	margin: 10px 0;
}

.hide {
	display: none;
}

#newGame {
	margin: 30px 0;
	border: none;
}

i {
	font-size: 30px;
}

#rounds {
	margin: 10px;
}

.btn {
	margin: 15px;
	border: 2px solid grey;
}

#result {
	color: $warn-color;
	padding-bottom: 10px;
	font-weight: 700;
}
 // table

td, th {
	border: 1px solid #b2bec3;
	padding: 5px;
	font-weight: 300;
}

tr:hover {
	background-color: $fourth-color;
}

th {
	color: $sixth-color;
	background-color: $fiveth-color;
	text-transform: uppercase;
	font-size: 14px;
}
// modals

.overlay {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.7);
	}
	.overlay.show {
		display: block;
	}


.modal {
	display: block;
	background: $sixth-color;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate3d(-50%, -50%, 0);
	overflow: auto;
	color: $seventh-color;
	border: 3px solid $fiveth-color;
	border-radius: 5px;
}
	.modal.show {
		display: block;
	}
	
	.modal .close {
		position: absolute;
		right: 0;
		top: 0;
		padding: 5px;
		color: $main-color;
		text-decoration: none;
	}
	
	.modal header {
		font-size: 18px;
		line-height: 30px;
		min-height: 30px;
		font-weight: bold;
		padding: 0 30px;
		text-transform: uppercase;
		padding: 20px 0 0 10px;
		color: $fiveth-color;
	}

	.modal .content {
		min-height: 30px;
		padding: 5px 30px;
	}

table {
	margin: 10px auto;
}